body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


section {
    margin-bottom: 30px;
}

h2 {
    margin-top: 0;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
}

#cart-list {
    border: 1px solid #ccc;
    padding: 10px;
}

#total-price {
    font-weight: bold;
    margin-top: 10px;
}

#checkout-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.hidden {
    display: none;
}


#cart-items {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}


#total-price {
    font-weight: bold;
    margin-bottom: 10px;
}

#checkout-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.sepet-ürün button {
    margin-top: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .sepet-ürün button:hover {
    background-color: darkred;
  }